<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="shortcut icon" href="/img/sun.png" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input
            name="city"
            type="text"
            class="ghost-input"
            placeholder="Introduce una ciudad"
            required
          />
          <input type="submit" class="ghost-button" value="Obtén clima" />
        </form>
        <% if(weather !== null){ %>
        <p><%= weather %></p>
        <% } %> <% if(error !== null){ %>
        <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>
